.footer {
  background-color: var(--bg-color);
  color: var(--text-color);
  text-align: center;
  width: 100%;
  padding: 1rem 0;
  position: fixed;
  bottom: 0;
  font-family: 'VT323', monospace;
  font-size: 1.2rem;
  border-top: none;
  box-shadow: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.footer a {
  color: var(--text-color);
  text-decoration: none;
  margin: 0 10px;
  font-weight: normal;
}

.footer a:hover {
  text-decoration: underline;
  color: var(--hover-color);
}
